

*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 20%;
}

#loadFileButton{
    padding: .6em;
    color: #99a8fd;
    font-size: 1em;
    border-radius: .2em;
    border: .1em solid black;
    background-image: linear-gradient(to bottom, #ff0000, #ff5e00);
    cursor: pointer;
}

#loadFileButton:hover{
    transform: scale(1.1);
    transition: .5s;
}

#loadFileButton:not(:hover){
    transition: .5s;
}

#fileInput{
    font-size: 1em;
    color: rgb(46, 46, 45);
}


.hojaA4{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 6cm);
    grid-template-rows: repeat(3, 9cm);
    min-height: 29.7cm;
    min-width: 21cm;
    max-height: 29.7cm;
    max-width: 21cm;
    background-color: white;
    gap: 1em;
}

.card{
    width: 6cm;
    height: 9cm;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: .2em solid black;
    margin-top: 3em;
}

.hechizoTitle{
    font-weight: 400;
    width: 100%;
    text-align: center;
    border-bottom: .1em solid black;
}

.casteoDiv, .componentesDiv, .duracionDiv, .rangoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 49.5%;
    max-height: 9%;
    max-height: 2em;
}

.casteoDiv{
    border-right: .1em solid black;
    border-bottom: .1em solid black;
}

.rangoDiv{
    border-bottom: .1em solid black;
}

.componentesDiv{
    border-right: .1em solid black;
}

.labelCasteo, .labelComponentes, .labelDuracion, .labelRango{
    width: 100%;
    height: 50%;
    font-weight: 800;
    text-align: center;
    font-size: .8em;
}

.casteoP, .componentesP, .duracionP, .rangoP{
    font-size: .8em;
}

.descripcionDiv{
    border-top: .1em solid black;
    border-bottom: .1em solid black;
    width: 100%;
    height: 69%;
    overflow: hidden;
}

.descripcionP{
    padding: .5em;
    font-size: .68em;
    overflow: hidden;
    padding-bottom: 0;
}

.nivelYTipoHechizo{
    font-size: .6em;
    font-weight: 800;
}
